@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --primary-clr: #eee;
  --secondary-clr: #212112;
  --grey: #7a7a7b;
  --blue: #007acc;
  --red: #ff0000;
  --light-red: rgb(255, 0, 0, 0.137);
  --green: #008000;
}

* {
  font-family: "Josefin Sans", sans-serif;
  transition: 200ms;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--primary-clr);
}

body.dark {
  --primary-clr: #222831;
  --secondary-clr: #fff;
  --grey: #a3a3a5;
  --light-red: rgb(255, 0, 0, 0.4);
  --green: #00ff00;
}

/* Header */
header {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#heading {
  color: var(--secondary-clr);
}

.change-name-modal {
  width: 300px;
  height: 150px;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: var(--primary-clr);
}

.change-name-modal::backdrop {
  background-color: black;
  opacity: 0.3;
}

.change-name-modal form {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 50px;
}

.change-name-modal form label {
  color: var(--secondary-clr);
}

.change-name-modal form input {
  height: 30px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #586478;
  font-size: 1rem;
}

.change-name-modal form input:focus {
  outline: none;
}

.change-name-modal form input button {
  color: white !important;
  font-weight: 700;
  font-size: 1em;
  background-color: #ededed;

  border-radius: 5px;
}

/* switch settings 👇 */

.ui-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: rgb(240, 0, 0, 07);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  background-color: var(--blue);
}

.ui-switch input:active + .slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

/* Gameboards */

.ship {
  background-color: var(--green) !important;
}

.hit {
  background-color: var(--red) !important;
}

.game-boards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin: 75px;
}

.board {
  width: 500px;
  height: 500px;

  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(11, 1fr);
  justify-content: center;
  align-content: center;
}

.name-headers {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 0, 0, 0.5);
  color: var(--primary-clr);
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-bottom: 7px;
  padding: 10px;
  grid-row: 1/2;
  grid-column: 2/12;
}

.white-space {
  grid-column: 1/2;
  grid-row: 1/2;
}

.board-square {
  background-color: rgb(174, 202, 228, 0.445);
}

.comp-board .board-square {
  background-color: var(--light-red);
  cursor: crosshair;
}

.comp-board .board-square:hover {
  filter: sepia(1);
  transform: scale(1.1);
}

.square {
  box-sizing: border-box;
  width: 45.45454545px;
  height: 45.45454545px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--primary-clr);
  border-radius: 5px;
}

.x-coord,
.y-coord {
  font-size: 1.19rem;
  font-weight: 700;
  color: var(--grey);
}

/* Buttons */

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 500px;
}

.button {
  width: 200.8px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
  background-color: var(--blue);
  outline: 3px var(--blue) solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: var(--blue);
}

.button:active {
  transform: scale(0.95);
}

.disabled-btn {
  background-color: var(--grey);
  outline: 3px solid var(--primary-clr);
  cursor: not-allowed;
}

.button.disabled-btn:active,
.button.disabled-btn:hover {
  transform: scale(1);
  background-color: var(--grey);
  outline: 3px solid var(--primary-clr);
}

.button.disabled-btn:hover .text {
  color: var(--primary-clr);
}
